//Шаблоны
%headline{
    font-family: Arial;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
}

%article{
    font-family: Arial;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

//mixins
@mixin brd($c){
    border: 5px solid;
    border-color: $c;
}


.wrapper {
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}

@media (max-width:1200px){
    .wrapper{
        max-width:970px;
    }
}
.header {
    min-height: 323px;
    display: flex;
    flex-direction: row;
    background-color:#445162;
    justify-content: space-between;
}
.header__1column {
    display: flex;
    flex-direction: column;
    margin-left: 50/1280*100%;
    margin-top:  45/1280*100%;
   // border: 5px solid blue
}
.header__1column__hi {
    font-family: Arial;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
    //border: 1px solid green;
    margin-bottom: 20px;
}
.header__checks {
    //border: 5px solid orange;
    font-family: Arial;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    text-shadow: 0px 1px 0px rgba(0,0,0,0.3);
    color: #ffffff;
    margin-bottom: 50px;
}
.header__check{
       
}
.header__check__paragraph::before {
    content: url(../IMG/check.png);
}
.header__2column {
    margin: 50/1280*100%;

}
.fls__image {

}
.whatis {
    min-height: 290px;
}

.whatis__columns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}
.whatis__1column {
    margin-right: 19px;
}
.whatis__2column {
    margin-left: 19px;
    max-width: 640px;
    max-height: 195px;
}
.whatis__2column__headline {
    margin-bottom: 18px;

}
.whatis__2column__article1 {
    @extend %article;
    margin-top: 18px;
}
.article {
    @extend %article;

}

.headline {
    @extend %headline;
    
}

.flexcontainers{
    background-color:#f5f5f5 ;
    height:485px;
}

.flexcontainers__content{
    display: flex;
    flex-direction: column;  
}

.flexcontainers__headline{
    @extend %headline;
    margin: 0px auto;
    margin-top: 48px;
    margin-bottom: 30px;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flexcontainers__content__left-half {
    display: flex;
    flex-direction: column;
}
.content-part {
    display: flex;
    flex-direction: row;
}
.content-part__image {
    margin-left: 8px;
    margin-bottom: 15px;
    margin-right: 15px;
}
.content-part__article {
    max-width: 360px;
    margin-right: 8px;
}
.content-part__article__localheadline {
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;
    //margin-bottom: 10px;
}

.localheadline {
  
}


.flexcontainers__content__right-half {
    display: flex;
    flex-direction: column;
}

.vAlign {
max-width: 1280px;
    
}

.vAlign__headline__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vAlign__headline{
    margin-top: 50px;
    margin-bottom: 30px;
}

.vAlign__column {
    display: flex;
    flex-direction: column;
    background-color:#445162 ;
    width: 300px;
    height: 500px;
    border-radius: 2%;
    align-items: center;
    margin-right: 23px;
    margin-left: 23px;
}

.vAlign__columns{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.vAlign__column__beGlad {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: Arial;
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}
.vAlign__column__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    width: 300px;
    height: 71px;
    font-family: Arial;
    font-size: 40px;
    line-height: 30px;
    font-weight: 400;
    color: #445162;
    border: 1px solid #445162;
}
.vAlign__column__article {
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    max-width: 250px;
    margin-top: 20px;
}
.vAlign__column__button {
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border: 2px solid;
    border-radius: 20%;
}


.vAlign__articleAndButton{
    height: 377px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

button{
    border: 1px solid;
    border-radius: 1%;
    outline: none;
    border: none;
    width: 260px;
    height: 40px;
}
button:active{
    color: grey;
}


footer{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
  }

.sign {
    font-family: Arial;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
}

    @media (max-width: 1200px){
    .vAlign__columns {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

@media (max-width: 1200px) {
    .vAlign__column {
      margin-top: 20px;
      margin-bottom: 20px;
    }
}



